[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "*"

[packages]
Django = "4.0"
djangorestframework = "3.13.1"
django-cors-headers = "3.10.1"
django-filter = "21.1"
psycopg2 = "2.9.3"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
